<div class="section">
  <div class="container">
    <div class="card column">
      <header class="card-header">
        <p class="title">Hello</p>
      </header>
      <div class="card-content">
        <h1 class="title is-4">Welcome to Razer Cars</h1>
        <p class="subtitle">Your one stop shop for all things cars.</p>

        {{#link-to 'manufacturer.index' class="button is-primary"}}See All Manufacturers{{/link-to}}
      </div>
    </div>
  </div>
</div>
