<div class="nav">
  <div class="nav-left">
    <div class="nav-item">
      {{#link-to 'index'}}Razer Cars{{/link-to}}
    </div>
  </div>
  <div class="nav-right nav-menu">
    <div class="nav-item">
      {{#link-to 'index'}}Home{{/link-to}}
    </div>
    <div class="nav-item">
      {{#link-to 'index'}}All Manufacturers{{/link-to}}
    </div>
    <div class="nav-item">
      {{#link-to 'index'}}Add Manufacturers{{/link-to}}
    </div>
  </div>
</div>
{{outlet}}
