<div class="section">
  <div class="container">
    <div class="card column">
      <header class="card-header">
        <p class="title">Mazda</p>
      </header>

      <div class="card-content spaced">
        {{!-- {{#link-to 'manufacturer.edit'}} --}}
          <button class="button is-info">Edit Manufacturer</button>
        {{!-- {{/link-to}} --}}
        {{!-- {{#link-to 'manufacturer.edit'}} --}}
          <button class="button is-danger">Delete Manufacturer</button>
        {{!-- {{/link-to}} --}}
        <button class="button is-success">Add New Car</button>
      </div>

      <div class="columns card-content">
        <div class="card column is-one-third">
          <header class="card-header">
            <p class="title">2017 - Mazda 3</p>
          </header>

          <div class="card-content">
            <p class="subtitle">Horsepower: 186</p>
            <p class="subtitle">Price: $17845</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
