<div class="section">
  <div class="container">
    <div class="card column is-fullwidth">
      <header class="card-header">
        <p class="title">Mazda</p>
      </header>

      <div class="card-content spaced">
        {{!-- {{#link-to 'manufacturer.edit'}} --}}
          <button class="button is-info">Edit Manufacturer</button>
        {{!-- {{/link-to}} --}}
        {{!-- {{#link-to 'manufacturer.edit'}} --}}
          <button class="button is-danger">Delete Manufacturer</button>
        {{!-- {{/link-to}} --}}
        <button class="button is-success">Add New Car</button>
      </div>

      <div class="card">

      </div>

    </div>
  </div>
</div>
