<div class="section">
  <div class="container">
    <div class="card column">
      <header class="card-header">
        <p class="title">Add New Car For {{model.name}}</p>
      </header>
      <div class="card-content">
        <form {{action "submitForm" on "submit"}}>
          <div class="field">
            <p class="control">
              <input placeholder="Model Name" type="text" class="input" value=formValues.name>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input placeholder="Year" type="text" class="input" value=formValues.year>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input placeholder="Horsepower" type="text" class="input" value=formValues.horsepower>
            </p>
          </div>
          <div class="field">
            <p class="control has-icon">
              <input placeholder="Price" type="text" class="input" value=formValues.price>
              <span class="icon is-small">{{fa-icon "usd"}}</span>
            </p>
          </div>
          <div class="card-footer">
            <div class="card-footer-item spaced">
              {{#link-to 'manufacturer.car' class="button is-info"}}
              Back
              {{/link-to}}
              {{#link-to 'manufacturer.car' class="button is-success"}}
              Submit
              {{/link-to}}
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
